/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  padding: 0;
}
.larget_div{
  height:400px;
  margin-top:20px;
  margin-bottom: 50px;
}
.medium_div{
  height:300px;

}
.top_tags{
  margin-top:20px;
}
.tags{
  margin-top:5px;
  margin-bottom:50px;
}

.twbody{
  font-size:18px;
}
.sys_text{
  color: grey;
}
.tweet {

  }
.collection-item:hover{
  background-color: whitesmoke;


}
